<html>
<head>
  <script src="javascripts/angular.js"></script>
  <script src="javascripts/angular-ui-router.js"></script>
  <script src="javascripts/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.scss" media="screen"/>
</head>
<body ng-app="angularCrud">
<h1>ang-crud</h1>
<ui-view></ui-view>

<script type="text/ng-template" id="/home.html">
  <div ng-controller="FormController">
    <form name="articleForm" novalidate>
      Article URL: <input type="url" name="url" ng-model="article.url">
      <input type="submit" ng-click="update(article)">
      <span class="error" ng-show="articleForm.url.$error.url">
    Error: Not a valid url!</span>
    </form>
    <div ng-repeat="a in articles">
      <a href="#/articles/{{a._id}}">{{a.url}}</a>
    </div>
  </div>
  <a href="#/automobiles">Automobiles</a>
</script>

<script type="text/ng-template" id="/articles.html">
  <div ng-controller="ArticleController">
    {{article.url}}
    <a href="#/articles/{{article._id}}/edit">edit</a>
    <a href="" ng-click="destroy(article)">delete</a>
  </div>
</script>

<script type="text/ng-template" id="/edit.html">
  <div ng-controller="ArticleController">
    {{article.url}}
    <form novalidate>
      Article: <input type="text" ng-model="article.url">
      <input type="submit" ng-click="update(article)">
    </form>
  </div>
</script>

<script type="text/ng-template" id="/automobiles.html">
  <h2>Automobiles</h2>
  <form novalidate>
    Make: <input type="text" ng-model="automobile.make">
    Model: <input type="text" ng-model="automobile.model">
    Year: <input type="number" ng-model="automobile.year">
    <input type="submit" ng-click="create(automobile)">
  </form>
  <div ng-repeat="auto in automobiles" class="group">
    <ul>
      <li class="child"><a href="" ng-href="#/automobiles/{{auto._id}}">{{auto.make}} {{auto.model}}</a></li>
    </ul>
  </div>
</script>

<script type="text/ng-template" id="/automobiles/show.html">
  <div ng-controller="AutomobileController">
    <li>{{automobile.make}}</li>
    <li>{{automobile.model}}</li>
    <li>{{automobile.year}}</li>
    <a href="" ng-href="#/automobiles/{{automobile._id}}/edit">Edit</a>
    <a href="" ng-click="destroy(automobile)">Delete</a>
  </div>
</script>

<script type="text/ng-template" id="/automobiles/edit.html">
  <div ng-controller="AutomobileController">
    <form novalidate>
      Make: <input type="text" ng-model="automobile.make">
      Model: <input type="text" ng-model="automobile.model">
      Year: <input type="number" ng-model="automobile.year">
      <input type="submit" ng-click="update(automobile)">
    </form>
  </div>
</script>
</body>
</html>
