<html>
<head>
  <script src="javascripts/angular.js"></script>
  <script src="javascripts/main.js"></script>
</head>
<body ng-app="angularCrud">
<h1 class="hello">hello</h1>

<div ng-controller="FormController">
<form novalidate>
  Article: <input type="text" ng-model="article.url">
  <input type="submit" ng-click="update(article)">
</form>
  <div ng-repeat="a in articles">
    {{a}}
  </div>
</div>
</body>
</html>
