<html>
<head>
  <script src="javascripts/angular.js"></script>
  <script src="javascripts/angular-ui-router.js"></script>
  <script src="javascripts/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/base.scss" media="screen"/>
</head>
<body ng-app="angularCrud">
<h1>ang-crud</h1>
<ui-view></ui-view>

<script type="text/ng-template" id="/home.html">
  <div ng-controller="FormController">
    <form name="articleForm" novalidate>
      Article URL: <input type="url" name="url" ng-model="article.url">
      <input type="submit" ng-click="update(article)">
      <span class="error" ng-show="articleForm.url.$error.url">
    Error: Not a valid url!</span>
    </form>
    <div ng-repeat="a in articles">
      <a href="#/articles/{{a._id}}">{{a.url}}</a>
    </div>
  </div>
  <a href="#/automobiles">Automobiles</a>
</script>

<script type="text/ng-template" id="/articles.html">
  <div ng-controller="ArticleController">
    {{article.url}}
    <a href="#/articles/{{article._id}}/edit">edit</a>
    <a href="" ng-click="destroy(article)">delete</a>
  </div>
</script>

<script type="text/ng-template" id="/edit.html">
  <div ng-controller="ArticleController">
    {{article.url}}
    <form novalidate>
      Article: <input type="text" ng-model="article.url">
      <input type="submit" ng-click="update(article)">
    </form>
  </div>
</script>

<script type="text/ng-template" id="/delete.html">
  <div ng-controller="ArticleController">
    {{article.url}}
  </div>
</script>

<script type="text/ng-template" id="/automobiles.html">
  <h2>Automobiles</h2>
  <form novalidate>
    Make: <input type="text" ng-model="automobile.make">
    Model: <input type="text" ng-model="automobile.model">
    Year: <input type="number" ng-model="automobile.year">
    <input type="submit" ng-click="create(automobile)">
  </form>
  {{automobiles}}
  <div ng-repeat="auto in automobiles" class="group">
    <div class="child">{{auto.make}}</div>
    <div class="child">{{auto.model}}</div>
    <div class="child">{{auto.year}}</div>
  </div>
</script>
</body>
</html>
