<html>
<head>
  <script src="javascripts/angular.js"></script>
  <script src="javascripts/angular-ui-router.js"></script>
  <script src="javascripts/main.js"></script>
</head>
<body ng-app="angularCrud">
<h1 class="hello">hello</h1>
<ui-view></ui-view>

<style type="text/css">
  input.ng-invalid {
    background-color: #FA787E;
  }

  input.ng-valid {
    background-color: #78FA89;
  }
</style>

<script type="text/ng-template" id="/home.html">
  <div ng-controller="FormController">
    <form name="articleForm" novalidate>
      Article URL: <input type="url" name="url" ng-model="article.url">
      <input type="submit" ng-click="update(article)">
      <span class="error" ng-show="articleForm.url.$error.url">
    Error: Not a valid url!</span>
    </form>
    <div ng-repeat="a in articles">
      <a href="#/articles/{{a._id}}">{{a.url}}</a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/articles.html">
  <div ng-controller="ArticleController">
    {{article.url}}
    <a href="#/articles/{{article._id}}/edit">edit</a>
    <a href="" ng-click="destroy(article)">delete</a>
  </div>
</script>

<script type="text/ng-template" id="/edit.html">
  <div ng-controller="ArticleController">
    {{article.url}}
    <form novalidate>
      Article: <input type="text" ng-model="article.url">
      <input type="submit" ng-click="update(article)">
    </form>
  </div>
</script>

<script type="text/ng-template" id="/delete.html">
  <div ng-controller="ArticleController">
    {{article.url}}
  </div>
</script>
</body>
</html>
